body{
  text-align:center;
  background:	#FA8072;
}
h1{
color:#000080;  
  font-size:60px;
 font-family: 'Bebas Neue', sans-serif;
}
  #Classification-Classified{
  text-decoration: underline;
    font-size: 30px
}
a{
color: "blue";
font-size: 25px;
font-family: "arial";
text-decoration: "_underline";
  }
#Worst_google_font_aka_peraltas_handwriting {
  font-family: 'Herr Von Muellerhoff', cursive;
font-size: 25px;
}
#B99_fandom{
border-style:solid;
border-radius:2px;
  font-size:15px;
  background-color:white;
  color:black;
  border-width:0.5px
}